@model WebMercadoMVC.Models.Compra

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes do Produto</h1>


<div>
    <h4>Compra</h4>
    <hr />
    <dl class="table">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cliente)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.cliente.nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cliente.email)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.cliente.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.produto)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.produto.nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.produto.preco)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.produto.preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.quantidaderequisitada)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.quantidaderequisitada)
        </dd>
    </dl>
</div>
<div>
    <a input type="submit" class="btn btn-primary btn-info" asp-action="Edit" asp-route-id="@Model?.id">Editar</a> |
    <a input type="submit" class="btn btn-danger" asp-action="Index">Voltar</a>
</div>
